In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data_infonieve.csv')

df

,id,name,downhill_skiing,nordic_skiing,status_id,lifts_total,runs_total,km_total,green_runs_total,blue_runs_total,red_runs_total,black_runs_total,special_runs,snowpark,special_runs_total,trineos,esqui_de_fondo,raquetas
0,22001,Alp 2500,1,0,1,33,138,145,29,49,44,16,0,0,0,0,0,0
1,20,La Molina,1,0,1,16,66,71,20,18,22,6,0,1,0,1,0,1
2,19,Masella,1,0,1,17,72,74,9,31,22,10,0,0,0,0,0,0
3,16,Baqueira Beret,1,0,1,36,116,170,5,43,48,17,1,1,3,0,1,0
4,17,Boí Taüll,1,0,1,10,43,46,6,6,15,16,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1527,Formiguères,1,0,1,7,21,25,4,6,9,2,0,0,0,0,0,0
64,1529,La Quillane,1,0,2,4,5,2,4,1,0,0,0,0,0,0,0,0
65,237,Les Angles,1,0,1,23,45,55,14,9,14,8,0,1,0,1,1,0
66,1530,Porté-Puymorens,1,0,1,10,33,50,12,6,7,8,0,0,0,0,0,0
67,1332,Serra da Estrela,1,0,4,4,19,12,3,4,11,1,0,1,0,0,0,0

In [42]:
estaciones_snowpark = df[df['snowpark'] == 1].sort_values('km_total', ascending=False)

estaciones_snowpark.name.info()

<class 'pandas.core.series.Series'>
Index: 36 entries, 33 to 25
Series name: name
Non-Null Count  Dtype
--------------  -----
36 non-null     object
dtypes: object(1)
memory usage: 576.0+ bytes

In [5]:
df.name.tail(11)

57                       Guzet
58           Les Monts d´Olmes
59             Mijanès-Donezan
60                     Camurac
61                Cambre d´Aze
62    Font-Romeu Pyrénées 2000
63                 Formiguères
64                 La Quillane
65                  Les Angles
66             Porté-Puymorens
67            Serra da Estrela
Name: name, dtype: object

In [6]:
forfait_prizes = [53, 49, 52, 66, 45, 38.5, 41, 42, 22, 37, 34, 54, 54, 54, 52, 57, 57, 48, 39, 27, 27, 30, 29, 22, 39.5, 30, 39.5, 29, 37, 32, 29, 43,
           58.9, 64, 45.5, 49.5, 39, 24, 41, 40, 42, 42, 18, 32.5, 51, 24.5, 39, 46.5, 41.5, 52, 33.3, 12, 28.5, 34, 25.5, 45, 20, 36.5, 32.5, 
           22.5, 22, 37, 46, 37, 23.5, 45, 37, 25]

In [7]:
forfait_prize = [53, 49, 52, 66, 45, 38.5, 41, 42, 22, 37, 34, 54, 54, 54, 52, 57, 57, 48, 39, 27, 27, 30, 29, 22, 39.5, 30, 39.5, 29, 37, 32, 29, 43, 58.9, 64, 45.5, 49.5, 39, 24, 41, 40, 42, 42, 18, 32.5, 51, 24.5, 39, 46.5, 41.5, 52, 33.3, 12, 28.5, 34, 25.5, 45, 20, 36.5, 32.5, 22.5, 22, 37, 46, 37, 23.5, 45, 37, 25]

df['forfait'] = pd.Series(forfait_prize)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  68 non-null     int64
 1   name                68 non-null     object
 2   downhill_skiing     68 non-null     int64
 3   nordic_skiing       68 non-null     int64
 4   status_id           68 non-null     int64
 5   lifts_total         68 non-null     int64
 6   runs_total          68 non-null     int64
 7   km_total            68 non-null     int64
 8   green_runs_total    68 non-null     int64
 9   blue_runs_total     68 non-null     int64
 10  red_runs_total      68 non-null     int64
 11  black_runs_total    68 non-null     int64
 12  special_runs        68 non-null     int64
 13  snowpark            68 non-null     int64
 14  special_runs_total  68 non-null     int64
 15  trineos             68 non-null     int64
 16  esqui_de_fondo      68 non-null     int64
 17  raquetas            68 non-null     int64
 18  forfait             68 non-null     float64
dtypes: float64(1), int64(17), object(1)
memory usage: 10.2+ KB

In [36]:
df.km_total[df.km_total == 0] = 1

C:\Users\v1cto\AppData\Local\Temp\ipykernel_12896\376893190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.km_total[df.km_total == 0] = 1

In [39]:
df.name[df.km_total ==1]

25    Punto de Nieve Santa Inés
36                   Ski Canaro
Name: name, dtype: object

In [43]:
df.to_csv('data_infonieve.csv', index=False)